@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap');

:root {
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Red Hat Display', sans-serif;
    --logo-size: 2rem;

    --biggest-font-size: 2rem;
    --bigger-font-size: 1.5rem;
    --big-font-size: 1.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
  
    /*========== Font weight ==========*/
    --font-bold: 700;
    --font-black: 900;

    /*========== Font color ==========*/
    --color-white: #ffffff;
    --color-green: #006A4E;

}

/* Responsive typography */
@media screen and (min-width: 1024px) {
    :root {
        --logo-size: 3.5rem;
        --biggest-font-size: 4rem;
      
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body,
button,
input{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body{
    overflow-x: hidden;
}

ul{
    list-style: none;
}
  
a{
    text-decoration: none;
}

.header{
    width: 100vw;
    height: 100vh;
    background-image: url('land_image.jpg');
    background-size: cover;
    background-position: center;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;
}

.nav__logo{
    padding: .3rem;
    font-size: var(--logo-size);
    color: var(--color-white);
}

.logo__span{
    color: var(--color-green);
}

.nav__toogle{
    cursor: pointer;
}

.nav__close{
    cursor: pointer;
    position: absolute;
    right: 1.5rem;
}

@media screen and (max-width: 1023px) {
    .nav__menu{
        z-index: 10;
        position: absolute;
        top: -100%;
        right: 1.2rem;
        width: 40%;
        height: auto;
        /* background-color: aqua; */
        border-right: 2px solid var(--color-green);
        transition: top .7s;
    }
}

.show__menu{
    top: 80px;
}

.disable{
    opacity: 0;
    transition: all 1s;
    display: none;
}

.nav__list{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 2rem;
}

.nav__item{
    display: flex;
    justify-content: flex-start;
    column-gap: 3rem;
    width: 100%;
    /* background-color: antiquewhite; */
}

.nav__item:hover > .line{
    opacity: 1;
    transition: all .5s ease-out;
    
}

.nav__link{
    color: var(--color-green);
    font-size: var(--bigger-font-size);
    font-weight: var(--font-bold);
}

.line{
    opacity: 0;
    width: 2px;
    height: 2rem;
    background-color: var(--color-green);
    transition: all .5s ease-out;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 4rem;
    height: 80%;
}

.main__text{
    display: flex;
    column-gap: 1rem;
}

.main__header{
    font-size: var(--biggest-font-size);
    color: var(--color-white);
}

.main__cities{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main__city{
    font-size: var(--biggest-font-size);
    -webkit-text-stroke: 1px var(--color-white);
    color: transparent;
}

.main__city:first-child{
    color: var(--color-white);
}

.main__button{
    display: inline-flex;
    align-items: center;
    column-gap: 1.3rem;
    background-color: var(--color-green);
    padding: 12px 40px;
    color: var(--color-white);
    font-weight: var(--font-bold);
    border-radius: 10px;
    border: 2px solid var(--color-green);
    transition: border 1s;
}

.main__button:hover{
    border: 2px solid var(--color-white);
    transition: border 1s;
}

.loading__dot{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
}

.dot:first-child{
    background-color: white;
}



@media screen and (min-width: 1023px) {
    .nav__close,
    .nav__toogle{
        display: none;
    }

    .nav__list{
        flex-direction: row;
        column-gap: 3rem;
    }

    .main{
        height: 95%;
    }

    .main__button{
        font-size: var(--big-font-size);
        padding: 15px 60px;
    }
}
